@use 'sass:math';

$primary-color: white;
$secondary-color: black;

$primary-background-color: rgb(53, 81, 95);
$secondary-background-color: rgb(117, 85, 85);

$primary-lightness: 20%;
$secondary-lightness: 80%;
