@import "../../styles/variables.scss";
.article {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.columnLeft {  
    display: flex; 
    width: 20%;
    background-color: $primary-background-color;
}
.columnRigth {
    display: flex;
    width: 80%;
    background-color: $secondary-background-color
}