@import 'styles/variables.scss';

:root {
  font-family: Poppins, Lato, Verdana, Arial, system-ui, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1 {
  font-size: 4rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: $theme-light-background-color;
    color: $theme-light-color;
  }

  a {
    color: $theme-light-links-color;
  }

  svg {
    fill: $theme-light-color;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $theme-dark-background-color;
    color: $theme-dark-color;
  
  }

  a {
    color: $theme-dark-links-color;
  }

  svg {
    fill: $theme-dark-color;
  }
}